# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asn1crypto==0.24.0
blas==1.0
ca-certificates==2018.03.07
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.2.1
decorator==4.3.0
flask==1.0.2
flask-sqlalchemy==2.3.2
icc_rt==2017.0.4
idna==2.7
intel-openmp==2018.0.3
ipython_genutils==0.2.0
itsdangerous==0.24
jinja2==2.10
jsonschema==2.6.0
jupyter_core==4.4.0
markupsafe==1.0
mkl==2018.0.3
mkl_fft==1.0.1
mkl_random==1.0.1
nbformat==4.4.0
numpy==1.14.5
numpy-base==1.14.5
openssl==1.0.2o
pandas==0.23.1
pip==10.0.1
plotly==2.7.0
pycparser==2.18
pyopenssl==18.0.0
pysocks==1.6.8
python==3.6.2
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
setuptools==39.2.0
six==1.11.0
sqlalchemy==1.2.8
traitlets==4.3.2
urllib3==1.23
vc==14
vs2015_runtime==14.0.25123
werkzeug==0.14.1
wheel==0.31.1
win_inet_pton==1.0.1
wincertstore==0.2
